body {
  font-family: Georgia, Times, serif;
  color: #46494C;
}

.page { margin-top: 50px; }

p { line-height: 32px; }

a {
  color: #46494C;
  text-decoration: underline;
}

a:hover { color: #46494C; }

pre { border-color: #A0ACAD; }

.about p {
  font-size: 1.33em;
  line-height: 42px;
}

.post-list { margin-left: 20px; }
.post-date { color: #A0ACAD; }
