.about p {
  font-size: 1.33em;
  line-height: 42px;
}

.post-list { margin-left: 20px; }
.post-date { color: #A0ACAD; }

header, main > * {
  max-width: 40rem;
  margin: 0 auto;
}

main figure {
  max-width: 1280px;
  display: block;
  margin: 24px auto;
}

main pre,
pre[class*="language-"] {
  display: block;
  max-width: 1280px;
  text-align: center;
  background: transparent;
  padding: 0;
  margin: 24px auto;
}

main pre code,
pre[class*="language-"] code {
  display: inline-block;
  text-align: left;
  background: rgba(var(--color-grey-50), 1);
  padding: 24px;
}

pre code,
pre[class*="language-"] code {
  font-size: var(--font-size-40);
}

@media screen and (min-width: 40rem) {
  main pre code,
  pre[class*="language-"] code {
    min-width: 40rem;
  }
}
