.about p {
  font-size: 1.33em;
  line-height: 42px;
}

.post-list { margin-left: 20px; }
.post-date { color: #A0ACAD; }

header, main > * {
  max-width: 40rem;
  margin: auto;
}

main figure,
main section.carousel {
  max-width: 1280px;
  display: block;
  margin: auto;
}

main pre,
pre[class*="language-"] {
  max-width: 1280px;
  display: inline-block;
  margin: 0 auto;
}
